#my-focus-html{
	margin:10px 30px;
}
#my-focus-html p{
	cursor: pointer;
}
#my-nav div{
	width: 160px;
	height: 45px;
	display: inline-block;
	box-sizing: border-box;
}
#my-nav div a{
	display: inline-block;
	text-decoration: none;
	color: #000;
	width: 155px;
	height: 40px;
	padding: 12px 0;
	box-sizing: border-box;
}
#my-nav div a img{
	float: left;
	margin-right: 7px;
}
#my-nav div a span{
	float: left;
}
